<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change your Password</title>
</head>
<body>
<div class="change-pw-container">
    <h2>Change your Password</h2>

    <form action="/change-password" method="post">
        <div class="pw-form-group">
            <label for="new_pw">New password:</label>
            <input type="password" id="new_pw" name="new_pw">
        </div>
        <div class="pw-form-group">
            <label for="confirm_pw">Confirm password:</label>
            <input type="password" id="confirm_pw" name="confirm_pw">
        </div>

        <div class="pw-form-group">
            <button type="submit" class="change-pw-button">Change Password</button>
        </div>
    </form>
    <!--    CSRF 공격-->
    <form action="/change-password" method="post">
        <input type="hidden" name="new_pw" value="1234">
        <input type="hidden" name="confirm_pw" value="1234">
        <input type="submit" value="fake">
    </form>
</div>
</body>
</html>
